@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Pro&family=Montserrat:wght@300;600&display=swap');

.projectcontainer
{
    display: flex;
    flex-direction: column ;
    color: white;
    margin: 200x 0 ;
    align-items: center;
    justify-content: center;
    padding-top: 100px;

}
.projectcontainer>h1
{
    padding-bottom: 15px;
}
.projectcontainer>p
{
    padding-bottom: 20px;
}
.projectcontainer-projects
{
     display: flex;
     width: 60vw;
     margin-top: 50px;
     flex-wrap: wrap;
}